KETL/xml/ketl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 rel. 3 sp1 (http://www.altova.com) by nick wakefield (NA) -->
<!--W3C Schema generated by XMLSpy v2007 rel. 3 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="T_TEMPLATE">
		<xs:restriction base="xs:string">
			<xs:enumeration value="select * from (${QUERY}) a where 1=0"/>
			<xs:enumeration value="select * from (${QUERY}) as a where 1=0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_REGEXPR">
		<xs:restriction base="xs:string">
			<xs:enumeration value="12"/>
			<xs:enumeration value="N"/>
			<xs:enumeration value="Y"/>
			<xs:enumeration value="name"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="xPOSTSQL" type="xs:string"/>
	<xs:element name="VALUE">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="VALID" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="SAMPLETYPE">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="AVERA GE"/>
						<xs:enumeration value="AVERAGE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="SAMPLESIZE">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="!@#SAMPLESIZE#@!"/>
						<xs:enumeration value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="SAMPLEOFFSET">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="NAME">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="DOVCheck"/>
						<xs:enumeration value="ValueCheck"/>
						<xs:enumeration value="ValueCheck2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="MINVALUE">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="MAXVARIANCE">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="!@#MAXVARIANCE#@!"/>
						<xs:enumeration value="5%"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="MAXVALUE">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="50000000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="EVENT">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="!@#EVENT#@!"/>
						<xs:enumeration value="STOP"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ERRORCODE">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="VALID">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="VALUE" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="USERNAME">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="ketl_metadata"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="URL" type="xs:string"/>
	<xs:element name="TRIGGER">
		<xs:complexType>
			<xs:attribute name="NAME" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="CATCH_ERROR"/>
						<xs:enumeration value="CATCH_FATAL"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="HANDLER" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="FATAL_ERROR"/>
						<xs:enumeration value="LOG_MESSAGE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="EVENT" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="STOP"/>
						<xs:enumeration value="WARNING"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="TEMPLATES">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="GROUP" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TEMPLATE">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="T_TEMPLATE">
					<xs:attribute name="NAME" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="GETCOLUMNS"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="STRUCTURE">
		<xs:complexType>
			<xs:attribute name="EVENT" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="STOP"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="STEP">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0">
				<xs:element ref="REGEXPR"/>
				<xs:element ref="PRESQL" maxOccurs="unbounded"/>
				<xs:element ref="PREBATCHSQL"/>
				<xs:element ref="IN" maxOccurs="unbounded"/>
				<xs:element ref="FILTER"/>
				<xs:element ref="OUT" maxOccurs="unbounded"/>
				<xs:element ref="POSTBATCHSQL"/>
				<xs:element ref="POSTSQL"/>
				<xs:element ref="TRIGGER" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="IDENTIFIERS"/>
				<xs:element name="PAGE_DEFINITIONS" minOccurs="0">
					<xs:complexType>
						<xs:sequence maxOccurs="unbounded">
							<xs:element name="PAGE_DEFINITION">
								<xs:complexType>
									<xs:attribute name="PRIORITY" type="xs:integer" use="required"/>
									<xs:attribute name="PROTOCOL" type="xs:string"/>
									<xs:attribute name="HOSTNAME" type="xs:string"/>
									<xs:attribute name="VALID">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="FALSE"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="DIRECTORY" type="xs:string"/>
									<xs:attribute name="STATUSCODES">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="200,201,202,203,204,205,206"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="TEMPLATE" type="xs:string"/>
									<xs:attribute name="PAGE_PARAMETER_SET" type="xs:string"/>
									<xs:attribute name="ID" type="xs:integer"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="PAGE_PARAMETER_SETS" minOccurs="0">
					<xs:complexType>
						<xs:sequence maxOccurs="unbounded">
							<xs:element name="PAGE_PARAMETER_SET">
								<xs:complexType>
									<xs:sequence maxOccurs="unbounded">
										<xs:element name="PAGE_PARAMETER">
											<xs:complexType>
												<xs:attribute name="NAME" type="xs:string" use="required"/>
												<xs:attribute name="VALUE" type="xs:string"/>
												<xs:attribute name="REQUIRED">
													<xs:simpleType>
														<xs:restriction base="xs:NMTOKEN">
															<xs:enumeration value="TRUE"/>
															<xs:enumeration value="FALSE"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="REMOVE_VALUE">
													<xs:simpleType>
														<xs:restriction base="xs:NMTOKEN">
															<xs:enumeration value="TRUE"/>
															<xs:enumeration value="FALSE"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="REMOVE_PARAMETER">
													<xs:simpleType>
														<xs:restriction base="xs:NMTOKEN">
															<xs:enumeration value="TRUE"/>
															<xs:enumeration value="FALSE"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="SEPERATOR" type="xs:string"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="NAME" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<xs:attribute name="RECORD_DELIMITER">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="#0A#0D"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="HASHCOMPAREONLY">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="TRUE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="HASHCOLUMN">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="HASHVAL"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="XPATHEVALUATE">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="FALSE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="XPATH">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="//item"/>
						<xs:enumeration value="item"/>
						<xs:enumeration value="query"/>
						<xs:enumeration value="track"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="WRITEBUFFER">
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:enumeration value="16384"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="WEBSERVERTYPE">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="APACHE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="WAITQUEUESIZE">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="VALUES" type="xs:int"/>
			<xs:attribute name="TYPE">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="BULK"/>
						<xs:enumeration value="KEYTABLEONLY"/>
						<xs:enumeration value="UPSERT"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="TIMING">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="FALSE"/>
						<xs:enumeration value="TRUE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="TIMEOUT">
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:enumeration value="1800"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="THREADS">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
						<xs:enumeration value="16"/>
						<xs:enumeration value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="TABLES" type="xs:string"/>
			<xs:attribute name="TABLE" type="xs:string"/>
			<xs:attribute name="STREAMCHANGES">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="FALSE"/>
						<xs:enumeration value="TRUE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="STOREOPENSESSIONS">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="TRUE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="SQLSAMPLE">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="WHERE 1 = 0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="SOURCE">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="!@#DMLFILENAME#@!"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="SORT">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="TRUE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="SMP">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="TRUE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="SKIPLINES">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="SKIPINSERTS" type="xs:boolean"/>
			<xs:attribute name="SCHEMA">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="${SCHEMA}"/>
						<xs:enumeration value="xmlrep"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="SAMPLEEVERY">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="RETRYBATCH">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="RESTART">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="TRUE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="REPLACEROWS">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="TRUE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="RECONNECTONERROR">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="TRUE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="QA">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="FileTest"/>
						<xs:enumeration value="Read_Check"/>
						<xs:enumeration value="SOR_LOAD_Test"/>
						<xs:enumeration value="Write_Check"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="PERSISTENCE">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="LOAD"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="PEAKSESSIONSANHOUR">
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:enumeration value="4000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="PARRALLISM">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="PARAMETER_LIST" type="xs:string"/>
			<xs:attribute name="OUTSYNTAX">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ABINITIO"/>
						<xs:enumeration value="INFERRED"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="NAME" type="xs:string"/>
			<xs:attribute name="MONITOR">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="FALSE"/>
						<xs:enumeration value="TRUE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="MODE">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="KEYTABLEONLY"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="MAXDOVSIZ">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="40"/>
						<xs:enumeration value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="LOGEVERY">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="200000"/>
						<xs:enumeration value="5000000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="LINEFEED">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="DOS"/>
						<xs:enumeration value="UNIX"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="KEYTABLE">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="APPL_STATUS_ACTIVITY_KEY"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="IOTYPE">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="MAPPED"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="IOBUFFER">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="10096"/>
						<xs:enumeration value="1012096"/>
						<xs:enumeration value="8196"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="IGNOREINVALIDLASTRECORD">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="TRUE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="IGNOREINVALIDCOLUMNS">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="TRUE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="IDQUOTE">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="TRUE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="HANDLER" type="xs:string"/>
			<xs:attribute name="HANDLEDUPLICATES">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="TRUE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="FLOWTYPE">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="FANIN"/>
						<xs:enumeration value="FANOUT"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="FILTER">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="rownum &lt; 10000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="FETCHSIZE">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="100000"/>
						<xs:enumeration value="5000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ERRORLIMIT" type="xs:short"/>
			<xs:attribute name="ENABLE_LINEFEED">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="TRUE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="DOCUMENTBUILDER">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="com.kni.etl.util.SAXONXMLHandler"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="DISABLEHOSTVERIFICATION">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="TRUE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="DELIMITER_AT_END" type="xs:boolean"/>
			<xs:attribute name="DELIMITER">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=" "/>
						<xs:enumeration value=","/>
						<xs:enumeration value="^^"/>
						<xs:enumeration value="|"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="DELETESOURCE">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="FALSE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="DEBUG">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="FALSE"/>
						<xs:enumeration value="TRUE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="COMMITSIZE" type="xs:int"/>
			<xs:attribute name="CLASS" type="xs:string" use="required"/>
			<xs:attribute name="CHARACTERSET">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="UTF-8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="BATCHSIZE" type="xs:int"/>
			<xs:attribute name="BATCHDATA">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="TRUE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="AUTOCOMMIT">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="FALSE"/>
						<xs:enumeration value="TRUE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ALLOWINVALIDLASTRECORD">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="FALSE"/>
						<xs:enumeration value="TRUE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ALLOWDUPLICATES">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="TRUE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="STATEMENT">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="MAXROWS">
						<xs:simpleType>
							<xs:restriction base="xs:short">
								<xs:enumeration value="10000"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="DEBUG">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="TRUE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="CRITICAL">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
								<xs:enumeration value="TRUE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="AUTOCOMMIT">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
								<xs:enumeration value="TRUE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="SQL">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="STATEMENT" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="DEBUG">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="TRUE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="SIZE">
		<xs:complexType>
			<xs:attribute name="SAMPLETYPE" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="AVERAGE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="SAMPLESIZE" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="!@#SAMPLESIZE#@!"/>
						<xs:enumeration value="3"/>
						<xs:enumeration value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="SAMPLEOFFSET">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="MINVARIANCE">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="5%"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="MINSIZE">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1GB"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="MAXVARIANCE" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="!@#MAXVARIANCE#@!"/>
						<xs:enumeration value="10%"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="MAXSIZE">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="5GB"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="LOGONWARNING">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="FALSE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="EVENT" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="!@#EVENT#@!"/>
						<xs:enumeration value="STOP"/>
						<xs:enumeration value="WARNING"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ERRORCODE">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="AGGREGATE">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="TRUE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="SERVERS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SERVER"/>
			</xs:sequence>
			<xs:attribute name="DEFAULTSERVER" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="localhost"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="SERVER">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="USERNAME"/>
				<xs:element ref="PASSWORD"/>
				<xs:element ref="NETWORKNAME"/>
				<xs:element ref="DRIVER"/>
				<xs:element ref="URL"/>
				<xs:element ref="MDPREFIX"/>
				<xs:element ref="PASSPHRASE"/>
			</xs:sequence>
			<xs:attribute name="NAME" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="localhost"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="REGEXPR">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="T_REGEXPR">
					<xs:attribute name="ID" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:byte">
								<xs:enumeration value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="RECORDCHECK">
		<xs:complexType>
			<xs:attribute name="TYPE" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="COUNT"/>
						<xs:enumeration value="ERROR"/>
						<xs:enumeration value="INSERT"/>
						<xs:enumeration value="UPDATE"/>
						<xs:enumeration value="UPSERT"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="SAMPLETYPE" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="AVERAGE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="SAMPLESIZE" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="!@#SAMPLESIZE#@!"/>
						<xs:enumeration value="3"/>
						<xs:enumeration value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="SAMPLEOFFSET" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="MINVARIANCE">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="5%"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="MAXVARIANCE" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="!@#MAXVARIANCE#@!"/>
						<xs:enumeration value="10%"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="EVENT" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="!@#EVENT#@!"/>
						<xs:enumeration value="STOP"/>
						<xs:enumeration value="WARNING"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ERRORCODE">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="QA">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="AGE"/>
				<xs:element ref="ITEMCHECK"/>
				<xs:element ref="RECORDCHECK" maxOccurs="unbounded"/>
				<xs:sequence>
					<xs:element ref="VALUE"/>
					<xs:element ref="ITEMCHECK" minOccurs="0"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="SIZE"/>
					<xs:choice minOccurs="0">
						<xs:sequence>
							<xs:element ref="RECORDCHECK"/>
							<xs:sequence minOccurs="0">
								<xs:element ref="AGE"/>
								<xs:element ref="VALUE" minOccurs="0"/>
							</xs:sequence>
						</xs:sequence>
						<xs:sequence>
							<xs:element ref="AMOUNT"/>
							<xs:element ref="STRUCTURE"/>
						</xs:sequence>
					</xs:choice>
				</xs:sequence>
			</xs:choice>
			<xs:attribute name="PARAMETER_LIST">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="!@#FILE_THRESHOLDS_PARAMETER_LIST#@!"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="NAME" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PRESQL">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="ATTRIBUTES" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="CRITICAL">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="FALSE"/>
						<xs:enumeration value="TRUE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="AUTOCOMMIT">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="TRUE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="PREBATCHSQL">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="POSTSQL">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="ATTRIBUTES" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="POSTBATCHSQL">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="select 1 from dual"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PORTS">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="PRESQL"/>
					<xs:element ref="IN"/>
					<xs:element ref="OUT"/>
					<xs:element ref="POSTSQL"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="IN"/>
					<xs:element ref="OUT"/>
				</xs:sequence>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="PASSWORD">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="ketl_metadata"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PASSPHRASE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="xVoNgnkNINGqwF4kVkkhhQ0fpWsvFqAcJXJ5JJSnno0="/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PARAMETER_LIST">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="PARAMETER" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="NAME" type="xs:string" use="required"/>
			<xs:attribute name="DEFAULT">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="FALSE"/>
						<xs:enumeration value="TRUE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="PARAMETERS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PARAMETER" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PARAMETER">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="REQUIRED">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
								<xs:enumeration value="TRUE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="PARAMETER_LIST" type="xs:string"/>
					<xs:attribute name="NAME" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="PAGE_DEFINITIONS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PAGE_DEFINITION" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PAGE_DEFINITION">
		<xs:complexType>
			<xs:attribute name="TEMPLATE" type="xs:string" use="required"/>
			<xs:attribute name="PROTOCOL" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="*"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="PRIORITY" type="xs:byte" use="required"/>
			<xs:attribute name="PAGE_PARAMETER_SET">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Default"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="HOSTNAME" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="*"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="DIRECTORY" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="*"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="OUT">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="ATTRIBUTES" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="xNULLIF">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="123"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="XPATHEVALUATE">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="FALSE"/>
						<xs:enumeration value="TRUE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="XPATH" type="xs:string"/>
			<xs:attribute name="TYPE" type="xs:string"/>
			<xs:attribute name="TRIM">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="TRUE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="STARTVALUE">
				<xs:simpleType>
					<xs:restriction base="xs:date">
						<xs:enumeration value="2000-01-01"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="REGEXPR">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="READORDERSEQUENCE">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="READORDER">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ASC"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="QUOTESTART">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="&quot;"/>
						<xs:enumeration value="#22"/>
						<xs:enumeration value="["/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="QUOTEEND">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="&quot;"/>
						<xs:enumeration value="#22"/>
						<xs:enumeration value="]"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="QA">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="HTML_STATUS_CODE"/>
						<xs:enumeration value="ItemChecks"/>
						<xs:enumeration value="ValueChecks"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="PK">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="TRUE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="OBJECTTYPE">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="TEMP_SESSION_ID"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="NULLIF">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="-"/>
						<xs:enumeration value="-1"/>
						<xs:enumeration value="10/14/2005"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="NAME" type="xs:string"/>
			<xs:attribute name="MAXIMUMLENGTH">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="MAXELEMENTS">
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:enumeration value="20000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="KEEPDELIMITER">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="TRUE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="FUNCTION" type="xs:string"/>
			<xs:attribute name="FORMATSTRING" type="xs:string"/>
			<xs:attribute name="FIXEDLENGTH">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
						<xs:enumeration value="5"/>
						<xs:enumeration value="63"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="FIELD">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="CITY"/>
						<xs:enumeration value="COUNTRYCODE"/>
						<xs:enumeration value="COUNTRYNAME"/>
						<xs:enumeration value="POSTALCODE"/>
						<xs:enumeration value="REGION"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ESCAPEDOUBLEQUOTES">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="TRUE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ESCAPECHARACTER">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="/"/>
						<xs:enumeration value="\"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="DELIMITER">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="&gt;"/>
						<xs:enumeration value="^^"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="DEFAULTVALUE">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="N/A"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="DATATYPE" type="xs:string"/>
			<xs:attribute name="CHANNEL" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="OSJOB" type="xs:string"/>
	<xs:element name="NETWORKNAME">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="localhost"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MDPREFIX">
		<xs:complexType/>
	</xs:element>
	<xs:element name="KETL">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="STEP"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="JOB">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0">
				<xs:element ref="DEPENDS_ON" maxOccurs="unbounded"/>
				<xs:element ref="EMPTY"/>
				<xs:element ref="OSJOB"/>
				<xs:element ref="SQL"/>
				<xs:element ref="ACTION"/>
			</xs:choice>
			<xs:attribute name="TYPE" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="EMPTYJOB"/>
						<xs:enumeration value="KETL"/>
						<xs:enumeration value="OSJOB"/>
						<xs:enumeration value="SQL"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="TIMING">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="TRUE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="SECONDS_BEFORE_RETRY">
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:enumeration value="0"/>
						<xs:enumeration value="10"/>
						<xs:enumeration value="600"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="RETRY_ATTEMPTS">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="0"/>
						<xs:enumeration value="22"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="PROJECT" type="xs:string" use="required"/>
			<xs:attribute name="PARRALLISM">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="PARAMETER_LIST" type="xs:string"/>
			<xs:attribute name="NAME" type="xs:string"/>
			<xs:attribute name="ID" type="xs:string"/>
			<xs:attribute name="DISABLE_ALERTING">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="N"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="DESCRIPTION" type="xs:string"/>
			<xs:attribute name="BATCHSIZE" type="xs:int"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ITEMCHECK">
		<xs:complexType>
			<xs:attribute name="TYPE" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ERROR"/>
						<xs:enumeration value="VALUE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="SAMPLETYPE" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="AVERAGE"/>
						<xs:enumeration value="DISTRIBUTION"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="SAMPLESIZE" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="SAMPLEOFFSET">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="NAME">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ItemCheck"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="MAXVARIANCE" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="!@#MAXVARIANCE#@!"/>
						<xs:enumeration value="10%"/>
						<xs:enumeration value="5%"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="EVENT" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="STOP"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="BANDS">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="IN">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="XMLDATA">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="TRUE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="WRAP">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="XMLType(?)"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="VALUE">
						<xs:simpleType>
							<xs:restriction base="xs:byte">
								<xs:enumeration value="1"/>
								<xs:enumeration value="2"/>
								<xs:enumeration value="3"/>
								<xs:enumeration value="4"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="UPDATE">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
								<xs:enumeration value="TRUE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="TAB">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="TRUE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="SORT">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="ASC"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="SK" type="xs:string"/>
					<xs:attribute name="RIGHT">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="TRUE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="PK">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="TRUE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="PASSTHROUGH">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="TRUE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="PARTITIONKEY">
						<xs:simpleType>
							<xs:restriction base="xs:byte">
								<xs:enumeration value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="OBJECTTYPE" type="xs:string"/>
					<xs:attribute name="NAME" type="xs:string"/>
					<xs:attribute name="MAXIMUMLENGTH">
						<xs:simpleType>
							<xs:restriction base="xs:byte">
								<xs:enumeration value="20"/>
								<xs:enumeration value="3"/>
								<xs:enumeration value="5"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="LEFT">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="TRUE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="KEY" type="xs:byte"/>
					<xs:attribute name="INSERT">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
								<xs:enumeration value="TRUE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="FROM_STEP">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Weblog"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="FIXEDWIDTH">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="TRUE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="DELIMITER">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value=","/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="DATATYPE">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="INTEGER"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="COMPARE">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="BUFFERSORT">
						<xs:simpleType>
							<xs:restriction base="xs:byte">
								<xs:enumeration value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="ARRAYTYPENAME">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="QUERY_ENTRY_ARRAY_T"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="ALTERNATE_UPDATE_VALUE">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="SYSDATE"/>
								<xs:enumeration value="null"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="ALTERNATE_INSERT_VALUE">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="SYSDATE"/>
								<xs:enumeration value="null"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="IDENTIFIER_SET">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IDENTIFIER" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="TYPE" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="IP_BROWSER"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="TIMEOUT" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:enumeration value="1800"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="PRIORITY" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="IDENTIFIERS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IDENTIFIER_SET"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="IDENTIFIER">
		<xs:complexType>
			<xs:attribute name="OBJECTTYPE" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="IP_ADDRESS"/>
						<xs:enumeration value="USER_AGENT"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="GROUP">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TEMPLATE"/>
			</xs:sequence>
			<xs:attribute name="NAME" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="DEFAULT"/>
						<xs:enumeration value="Oracle"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="FILTER" type="xs:string"/>
	<xs:element name="EXPR">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=" = &quot;SOURCE_Z&quot; "/>
				<xs:enumeration value="Source.FIELD_X = &quot;SOURCE_Y&quot; "/>
				<xs:enumeration value="Source.FIELD_X = &quot;SOURCE_Z&quot; "/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ETL">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="PARAMETER_LIST" maxOccurs="unbounded"/>
					<xs:sequence minOccurs="0">
						<xs:element ref="QA" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element ref="JOB" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:sequence>
			</xs:choice>
			<xs:attribute name="VERSION">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:enumeration value="1.0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="EMPTY" type="xs:string"/>
	<xs:element name="DRIVER">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="oracle.jdbc.driver.OracleDriver"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DEPENDS_ON" type="xs:string"/>
	<xs:element name="DEFAULT">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="IN" maxOccurs="unbounded"/>
				<xs:element ref="OUT" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="CASE">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="EXPR"/>
				<xs:choice>
					<xs:element ref="IN" maxOccurs="unbounded"/>
					<xs:element ref="OUT" maxOccurs="unbounded"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ATTRIBUTES">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ATTRIBUTE" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ATTRIBUTE">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="VALUE" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="TYPE">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="BOOLEAN"/>
						<xs:enumeration value="INTEGER"/>
						<xs:enumeration value="STRING"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="NAME" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="AMOUNT">
		<xs:complexType>
			<xs:attribute name="MIN" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="MAXINCREASE" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="MAXDECREASE" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="MAX" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="EVENT" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="WARNING"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="AGE">
		<xs:complexType>
			<xs:attribute name="MINAGE" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="!@#MINAGE#@!"/>
						<xs:enumeration value="1m"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="MAXAGE" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="!@#MAXAGE#@!"/>
						<xs:enumeration value="20m"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="EVENT" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="!@#EVENT#@!"/>
						<xs:enumeration value="WARNING"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ERRORCODE" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="BASEDATE" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="CURRENTDATE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ACTION">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="STEP" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="PARRALLISM">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="${DEFAULTPARALLISM}"/>
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="3"/>
						<xs:enumeration value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="PARAMETER_LIST">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="defaults"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="BATCHSIZE">
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:enumeration value="250"/>
						<xs:enumeration value="300"/>
						<xs:enumeration value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="AUTOTUNEINCREMENT">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="1000000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="PAGE_PARAMETER_SETS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PAGE_PARAMETER_SET"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PAGE_PARAMETER_SET">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PAGE_PARAMETER" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="NAME" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Default"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="PAGE_PARAMETER">
		<xs:complexType>
			<xs:attribute name="SEPERATOR" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="="/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="REQUIRED" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="FALSE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="REMOVE_VALUE" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="FALSE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="REMOVE_PARAMETER" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="FALSE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="NAME" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
